.tooltip {
  display: none;
  width: max-content;
  position: absolute;
  top: 0;
  left: 0;
  background: #222;
  color: white;
  font-weight: bold;
  padding: 5px;
  border-radius: 4px;
  font-size: 90%;
  max-width: 300px;
}

.arrow {
  position: absolute;
  background: #222;
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
}


/* .tooltip-container>:first-child {
  border: 1px dashed red;
  position: relative;
  box-sizing: border-box;
}

.tooltip-container>:first-child:hover {
  cursor: pointer;
  --tooltipVisibility: visible;
  --tooltipOpacity: 1;
}

.tooltip-container>:first-child::before {
  color: white;
  background-color: #000;
  display: inline-block;
  content: var(--tooltipContent);
  position: absolute;
  padding: 8px;
  border-radius: 5px;
  width: fit-content;
  white-space: normal;
  left: 50%;
  bottom: calc(100% + var(--tooltipMargin));
  transform: translateX(-50%);
  visibility: var(--tooltipVisibility);
  opacity: var(--tooltipOpacity);
  transition: all 0.15s;
  z-index: 9999;
}

.tooltip-container>:first-child::after {
  content: "";
  border: 5px solid transparent;
  border-top-color: #000;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: calc(-1 * var(--tooltipMargin));
  visibility: var(--tooltipVisibility);
  opacity: var(--tooltipOpacity);
  transition: all 0.15s;
  z-index: 9999;

} */